.my-navbar {
  background-color: #000000 !important;
  padding: 1rem 2rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.my-navbar .navbar-brand {
  font-weight: bold;
  font-size: 1.8rem;
  color: #f1c40f !important; /* Sarı vurgulu başlık */
}

.my-navbar .nav-link {
  color: #ffffff !important;
}

.my-navbar .nav-link:hover {
  color: #f1c40f !important;
}
.my-footer {
  background-color: #000000;
  color: #ffffff;
  padding: 0.5rem;
  margin-top: 2rem;
  font-size: 1rem;
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.3);
  text-align: center;
}
.search-form {
  max-width: 600px; /* Büyük ekranda çok geniş olmasın */
  width: 50%;
  justify-content: center;
}

@media (max-width: 992px) {
  .search-form {
    max-width: 100%; /* Küçük ekranlarda tam genişlik */
    flex-direction: column;
    align-items: stretch;
    gap: 0.5rem;
  }

  .search-form input,
  .search-form button {
    width: 100%;
  }
}
