body.light {
  background-color: #f8f9fa;
  color: #212529;
}

body.dark {
  background-color: #000000;
  color: #ffffff;
}

/* Navbar ve Butonlar */
body.dark .navbar,
body.dark .btn {
  background-color: #1e1e1e !important;
  color: #ffffff !important;
}

body.dark .form-control {
  background-color: #2c2c2c;
  color: #fff;
  border-color: #444;
}

/* NAVBAR */
.my-navbar {
  background-color: #000000 !important;
  padding: 1rem 2rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.my-navbar .navbar-brand {
  font-weight: bold;
  font-size: 1.8rem;
  color: #f1c40f !important;
}

.my-navbar .nav-link {
  color: #ffffff !important;
}

.my-navbar .nav-link:hover {
  color: #f1c40f !important;
}

/* FOOTER */
.my-footer {
  background-color: #000000;
  color: #ffffff;
  padding: 0.5rem;
  font-size: 1rem;
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.3);
  text-align: center;
  margin-top: auto;
}

/* SEARCH BAR */
.search-form {
  max-width: 600px;
  width: 50%;
  justify-content: center;
}

@media (max-width: 992px) {
  .search-form {
    max-width: 100%;
    flex-direction: column;
    align-items: stretch;
    gap: 0.5rem;
  }

  .search-form input,
  .search-form button {
    width: 100%;
  }
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-content {
  flex: 1;
  margin-left: 250px; 
}

body.dark .card,
body.dark .movie-card {
  background-color: #1e1e1e !important;
  color: #ffffff !important;
}

body.light .card,
body.light .movie-card {
  background-color: #ffffff !important;
  color: #000000 !important;
}

body, .light {
  background-color: #f8f9fa;
  color: #212529;
}

.dark {
  background-color: #121212;
  color: #ffffff;
}

.dark .card {
  background-color: #1e1e1e;
  color: #ffffff;
}

.dark .navbar,
.dark .btn {
  background-color: #1e1e1e !important;
  color: #ffffff !important;
}
.dark .my-footer {
  background-color: #1e1e1e !important;
  color: #ffffff !important;
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.3);
}


.dark .form-control {
  background-color: #2c2c2c;
  color: #fff;
  border-color: #444;
}
.text-center h5 {
  color: #888;
  font-style: italic;
}
/* Dark mod aktifken pagination butonları */
body.dark .pagination {
  background-color: #1e1e1e;  /* Pagination arka planı */
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}

body.dark .pagination .page-link {
  color: #ffffff;
  background-color: #2c2c2c;
  border: 1px solid #444;
}

body.dark .pagination .page-link:hover {
  background-color: #444444;
  color: #f1c40f;  /* Hoverda sarı gibi */
  border-color: #f1c40f;
}

body.dark .pagination .page-item.active .page-link {
  background-color: #f1c40f;  /* Aktif sayfa sarı */
  border-color: #f1c40f;
  color: #000000;
}

.content-wrapper {
  display: flex;
}

/* GenreSidebar içeride sabit değil, bu yüzden içerikle birlikte kayar */
.genre-sidebar {
  flex: 0 0 230px; /* Genişlik sabit */
}

.app-content {
  flex: 1;
  padding: 1rem;
}

